<div class="banner">
  <h1>Cocktail Creator</h1>
  <p>Invent new cocktail combinations and save them here. Simply upload the name of a classic cocktail. On the cocktail page, create new drink combinations using a list of ingredients</p>
  <div class="d-flex justify-content-center">
    <div class="btn-misclick-zone">
      <%= link_to 'New cocktail', new_cocktail_path, class: 'btn btn-flat'%>
    </div>
  </div>
</div>

<div class="container" style="padding: 20px 0;">
    <h2>Click the cocktails below!</h2>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.random_image %>)">
          <p class="text-center"><%= cocktail.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
